*{
    font-family: Arial, Helvetica, sans-serif; /* 제목 */
}
body{
    background-color: #fff;
    /* border: 1px solid red; */
    margin: 0;
}
.wrapper{
    width: 100%;
    min-width: 372px;   /* 모바일 화면 최소 사이즈 */ 
    margin: 0 auto;
    background-color: #fff;
}
/* 헤더영역 */
header{
    width: 100%;
    height: 300px;
    background-color: #6867a8;
    color: #fff;
}
#logo{
    height: 260px;
}
.hgroup{
    text-align: center;
    box-sizing: border-box;
    padding-top: 20px;
}
.hgroup>h1{
    margin: 0;
}
.hgroup>h1.first{
    margin-top: 30px;
}
nav{
    height: 40px;
    background-color: #ededed;
    color: #111;

    position: relative;
}
/* label */
.toggle{
    display: block;
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
    font-weight: bold;
}
.toggle:hover{
    color: orangered;
}
.mylink{
    background-color: #ededed;
    display: block; /* block */
    border-top: 1px solid #111;
    position: absolute;
    top: 40px;
    z-index: 99;
    width: 100%;
}
.menu{
    list-style: none;
    margin: 0; /* ul태그 기본적으로 마진 o - 제거 */
    padding-left: 0px;
}
.menu>li{
height: 40px;
width: 100%;
}
.menu>li>a{
display: block;
text-decoration: none;
width: 100%;
height: 40px;
line-height: 40px;
color: #111;
padding-left: 20px;
box-sizing: border-box;
}
.menu>li>a:hover{
    background-color: #ffcc00;
}
/*푸터*/
footer{
    width: 100%;
    height: 40px;
    background-color: #ededed;
}
address{
    height: 40px;
    line-height: 40px;
    text-align: center;
}
address>span{
    color: orangered;
    font-weight: bold;
}


/* 상단 이동 버튼 */
html{
    scroll-behavior: smooth;
}
#backtop{
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    padding: 10px;
    display: inline-block;
    font-size: 30px;
    background-color: #ffcc00;
    color: #111;
    border-radius: 30px;
    text-align: center;
    opacity: 0.7;
}


/* 슬라이드 영역 */
.slideshow{
    width: 100%;
    position: relative;
}
.myslide img{
    width: 100%;
}
.control{
    position: absolute;
    top: 50%;
    margin-top: -20px; /*50% 주면 꼭짓점 기준이기 때문에 내려와보여서 줌*/
    padding: 10px;
    
    color: #fff;
    text-decoration: none;
    background-color: rgba(100, 100, 100, 0.3);
}
.prev{
    border-radius: 0px 5px 5px 0px;
}
.next{
    right: 0;
    border-radius: 5px 0px 0px 5px;
}
.dots{
    position: absolute;
    bottom: 0;
    color: white;
    width: 100%;
    text-align: center;
}
.dot{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 3px;
    background-color: #fff;
    border-radius: 15px;
}
.dot.active{
    background-color: #6867a8;
}

/* 컨텐츠 영역 */
.notice, .gallery,.sponsor{
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
}
.recent_notice{
    width: 100%;
    border-collapse: collapse;
}
.recent_notice tr.first{
    border-top: 2px solid #cccccc;
}
.recent_notice tr.last{
    border-bottom: 2px solid #cccccc;

}    
.recent_notice td{
    border-top: 1px solid #ededed;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}
td.regdate{
    text-align: right;
    padding-right: 10px;
}
.notice>h3{
    position: relative;
}
span.more{
    position: absolute;
    /* border: 1px solid red; */
    right: 10px;
    font-size: 120%;
}

/* 갤러리최근사진 */
.gallery{
    width: 100%;
}
.entry{
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    border: 1px solid #ededed;
    margin-bottom: 5px;
}
.entry img{
    width: 100%;
}
.caption{
    padding-left: 10px;
    color: #ffcc00;
    background-color: #111;
}


/* 배너광고 */
.mybanner{
    width: 95%;
    box-sizing: border-box;
    border: 2px solid #ededed;
    margin: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    text-align: center;
}
.mybanner img{
    width: 60%;
}

